body{
    display: flex;
    flex-direction: column;
    font-family: 'helvetica';
}

/* header SEction */

.header{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 75x;
    margin: 0px;
    color: #f9faf8;
}

.actual-head{
    display: flex;
    flex-direction: row;
}

.logo{
    display: flex;
    font-size: 24px;
    gap: 50px;
    margin-right: auto;
}

.right-part{
    font-size: 18px;
    display: flex;
    
}

.right-part ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 25px;
}

/* headiing inside of heading */
.secondary-heading{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.text-part{
    display: flex;
    flex-direction: column;
}

.big-text{
    font-size: 48px;
    font-weight: 900;
}

.text-part p{
    font-size: 18px;
    margin-top: 0;
    margin-right: 50px;
}

.text-part button{
    color: #f9faf8;
    background-color: #3882f6;
    margin: 5px 0;
    border: 0.5px;
    border-radius: 5px;
    padding: 10px 15px;
    width: 120px;
    font-weight: 900;
}

.image-part{
    display: flex;
    width: 1100px;
    height: 600x;
    align-items: center;
    justify-content: center;
    background: grey;
}


/* cards section */

.cards{
    display: flex;
    flex-direction: column;
    background: white;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 100px;
}

.card-topic{
    display: flex;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 900;
}

.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 225px;
}

.box-info{
    display: flex;
    width: 175px;
    height: 200px;
    border: 5px blue solid;
    border-radius: 10px;
}

.box .box-text{
    text-align: center;  
    font-weight: 525;
}

/* Quotes section */

.Quote{
    display: flex;
    padding-top: 100px;
    background: #e5e7eb;
    justify-content: center;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 100px;
    flex-direction: column;
}

.saying{
    display: flex;
    font-size: 36px;
    font-style: italic;
    align-items: center;
    justify-content: center;
}

.author{
    display: flex;
    font-size: 24px;
    font-weight: 600;
    font-style: bold;
    justify-content: right;
}

/* semi final section */

.second-last{
    display: flex;
    background: skyblue;
    margin: 100px 200px;
    padding: 50px 100px;
    border-radius: 10px;
    flex-direction: row;
}

.right-side{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.top-text{
    display: flex;
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.bottom-text{
    display: flex;
    color: white;
    font-size: 18px;
}

.left-button{
    display: flex;
}

.left-button button{
    color: #f9faf8;
    background-color: #3882f6;
    margin: 5px 0;
    border: 0.5px;
    border-radius: 5px;
    padding: 10px 15px;
    width: 120px;
    font-weight: 900;
}

/* footer section */

.footer{
    background-color: #1f2937;
    color: white;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
}

